# =========================
# Node / Angular
# =========================
node_modules/
.angular/
dist/
tmp/
out-tsc/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
*.db
*.sqlite3

# =========================
# Visual Studio / .NET
# =========================
bin/
obj/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
.vs/

# =========================
# Project Specific
# =========================
data/